---
---

<div id="list" class="scrollspy">
  <a id="apflora-link" class="scrollspy-item" href="#apflora">apflora.ch</a>
  <a id="arteigenschaften-link" class="scrollspy-item" href="#arteigenschaften"
    >arteigenschaften.ch</a
  >
  <a id="vermehrung-link" class="scrollspy-item" href="#vermehrung"
    >vermehrung.ch</a
  >
  <a id="kapla-link" class="scrollspy-item" href="#kapla">Kapla</a>
  <a id="awel-personal-link" class="scrollspy-item" href="#awel-personal"
    >AWEL-Personal</a
  >
  <a id="awel-indikatoren-link" class="scrollspy-item" href="#awel-indikatoren"
    >AWEL-Indikatoren</a
  >
  <a
    id="mediterranean-migration-link"
    class="scrollspy-item"
    href="#mediterranean-migration">mediterranean-<br />migration.com</a
  >
</div>

<style>
  .scrollspy {
    margin-left: 12px;
    margin-right: 12px;
  }
  @media (min-width: 800px) {
    .scrollspy {
      position: sticky;
      top: 15px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .scrollspy {
    background-color: transparent;
    border: 1px solid #d8d8d8;
    margin-bottom: 15px !important;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5px;
    list-style: none;
    height: fit-content;
  }

  .scrollspy-item {
    display: block;
    color: #716b7a;
    font-weight: bold;
    padding: 10px 15px;
    text-decoration: none;
    /* border: 0.3px solid rgba(0, 0, 0, 0.125); */
  }

  .scrollspy-item:hover {
    background-color: #155f0026;
  }

  .scrollspy-item.active {
    background-color: #155f0011;
    color: black;
  }
</style>
