---
import { Icon } from 'astro-icon'

import Layout from '../../components/Layout/index.astro'
import ApfloraCarousel from '../../components/Carousel/Apflora.astro'
import AeCarousel from '../../components/Carousel/Ae.astro'
import VermehrungCarousel from '../../components/Carousel/Vermehrung.astro'
import KaplaCarousel from '../../components/Carousel/Kapla.astro'
import IndikatorenCarousel from '../../components/Carousel/Indikatoren.astro'
import MmCarousel from '../../components/Carousel/Mm.astro'
import Scrollspy from './_Scrollspy.astro'
---

<Layout>
  <main class="page">
    <Scrollspy />
    <div class="content">
      <p class="lead">Eine Auswahl von aktuellen Projekten:</p>
      <section id="apflora">
        <img src="/apflora.webp" alt="apflora" height="51" />
        <h2>apflora.ch</h2>
        <h3>Aktionsplan Flora der Fachstelle Naturschutz des Kantons Zürich</h3>
        <p>Grösste Stärken:</p>
        <ul>
          <li>komplexe Projektstruktur im Strukturbaum darstellen</li>
          <li>aufwändige Jahresberichte auf Knopfdruck produzieren</li>
          <li>
            Erfolgskontrollen werden in einem leistungsfähigen Formular
            Excel-ähnlich geplant
          </li>
          <li>differenzierte Benutzerrechte</li>
          <li>
            Profis und Freiwillige erfassen ihre Daten selber, mit Hilfe von
            massgeschneiderten Zugängen
          </li>
        </ul>
        <div class="carousel-container carousel-container-apflora">
          <ApfloraCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2013.</p>
        <p>
          Mehr Informationen&nbsp;
          <a href="https://apflora.ch" target="_blank" rel="noopener noreferrer"
            >auf der Startseite</a
          >&nbsp;und&nbsp;
          <a
            href="https://apflora.ch/Dokumentation/was-kann-man-mit-apflora-machen"
            target="_blank"
            rel="noopener noreferrer">in der Dokumentation</a
          >.
        </p>
      </section>
      <section id="arteigenschaften">
        <img src="/ae.webp" alt="arteigenschaften.ch" height="51" />
        <h2>arteigenschaften.ch</h2>
        <h3>
          Naturschutzrelevante Informationen über Arten aus den Gruppen Fauna,
          Flora, Moose, Pilze und von Lebensräumen:
        </h3>
        <ul>
          <li>anzeigen</li>
          <li>importieren</li>
          <li>kombinieren</li>
          <li>Informationen von Synonymen verbinden</li>
          <li>exportieren</li>
          <li>über Artengruppen hinweg zusammenfassen</li>
          <li>in eigener Anwendung einbinden</li>
        </ul>
        <p>
          Grösste Stärke ist der einfache Import und Export von Daten. Die
          Absicht dahinter: Alle benötigten Daten können, sofern nicht schon
          enthalten, rasch ergänzt und für Auswertungen kombiniert werden.
        </p>
        <div class="carousel-container carousel-container-apflora">
          <AeCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2013.</p>
        <p>
          Mehr Informationen&nbsp;<a
            href="https://arteigenschaften.ch/Dokumentation/projektbeschreibung"
            target="_blank"
            rel="noopener noreferrer">in der Dokumentation</a
          >.
        </p>
      </section>
      <section id="vermehrung">
        <Icon pack="fa-solid" name="seedling" class="icon" />
        <h2>vermehrung.ch</h2>
        <h3>Bedrohte Pflanzen vermehren</h3>
        <ul>
          <li>mobile first</li>
          <li>offline first</li>
          <li>live aktualisierte Daten</li>
          <li>differenzierte Benutzerrechte</li>
        </ul>
        <p>
          Grösste Stärke ist die Fähigkeit, ohne Internet-Anschluss und mit
          jedem beliebigen Gerät arbeiten zu können.
        </p>

        <div class="carousel-container carousel-container-vermehrung">
          <VermehrungCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2020.</p>
        <p>
          Mehr Informationen&nbsp;<a
            href="https://vermehrung.ch"
            target="_blank"
            rel="noopener noreferrer">auf der Startseite</a
          > und <a
            href="https://vermehrung.ch/Dokumentation/Ziele"
            target="_blank"
            rel="noopener noreferrer">in der Dokumentation</a
          >.
        </p>
      </section>
      <section id="kapla">
        <img src="/kapla.webp" alt="Kapla" height="51" />
        <h2>Kapla</h2>
        <p>
          Mit Kapla verwaltet die Abteilung Recht des AWEL (Amt für Abfall,
          Wasser, Energie und Luft) des Kantons Zürich ihre Geschäfte.
        </p>
        <br />
        <div>
          Grösste Stärken:<ul>
            <li>massgeschneidert für die Aufgabe</li>
            <li>benutzerfreundlich</li>
            <li>beinahe null Unterhalt</li>
          </ul>
        </div>
        <div class="carousel-container carousel-container-kapla">
          <KaplaCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2016.</p>
        <p>
          Mehr Informationen&nbsp;<a
            href="https://github.com/barbalex/kapla3"
            target="_blank"
            rel="noopener noreferrer">auf GitHub</a
          >.
        </p>
      </section>
      <section id="awel-personal">
        <img src="/ap.webp" alt="AWEL-Personal" height="51" />
        <h2>AWEL-Personal</h2>
        <p>
          Damit verwaltet das AWEL (Amt für Abfall, Wasser, Energie und Luft)
          des Kantons Zürich Personal-Daten.
        </p>
        <br />
        <div>
          Grösste Stärken:<ul>
            <li>massgeschneidert für die Aufgabe</li>
            <li>benutzerfreundlich</li>
            <li>beinahe null Unterhalt</li>
          </ul>
        </div>
        <p>Sorry, keine Bilder: Personaldaten sind sensibel...</p>
        <br />
        <p>Im produktiven Einsatz seit 2019.</p>
        <p>
          Mehr Informationen&nbsp;<a
            href="https://github.com/barbalex/awel-personal"
            target="_blank"
            rel="noopener noreferrer">auf GitHub</a
          >.
        </p>
      </section>
      <section id="awel-indikatoren">
        <img src="/zhLoewe.webp" alt="AWEL-Indikatoren" height="51" />
        <h2>AWEL-Indikatoren</h2>
        <p>
          Das AWEL (Amt für Abfall, Wasser, Energie und Luft) des Kantons Zürich
          verwaltet mit dieser Access-Anwendung Indikatoren.
        </p>
        <div>
          Grösste Stärken:<ul>
            <li>massgeschneidert für die Aufgabe</li>
            <li>bisher null Unterhaltsbedarf</li>
          </ul>
        </div>
        <div class="carousel-container carousel-container-indikatoren">
          <IndikatorenCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2014.</p>
      </section>
      <section id="mediterranean-migration">
        <img src="/bb.webp" alt="mediterranean-migration" height="51" />
        <h2>mediterranean-migration.com</h2>
        <p>
          Übersicht über die Migration durch das zentrale und östliche
          Mittelmeer.
        </p>
        <div>
          Grösste Stärken:<ul>
            <li>
              rasche Übersicht über Migrationsströme und dazugehörige politische
              Ereignisse
            </li>
            <li>
              der Autor kann Ereignisse und Artikel direkt bearbeiten - wie bei
              einem<!-- -->
              <a
                href="https://de.wikipedia.org/wiki/Content-Management-System"
                target="_blank"
                rel="noopener noreferrer">CMS</a
              >
            </li>
          </ul>
        </div>
        <div class="carousel-container carousel-container-mm">
          <MmCarousel />
        </div>
        <p>Im produktiven Einsatz seit 2015.</p>
        <p>
          Schauen Sie selber:&nbsp;<a
            href="https://mediterranean-migration.com"
            target="_blank"
            rel="noopener noreferrer">mediterranean-migration.com</a
          >.
        </p>
        <p class="spacer">&nbsp;</p>
        <p class="spacer">&nbsp;</p>
        <p class="spacer">&nbsp;</p>
        <p class="spacer">&nbsp;</p>
        <p class="spacer">&nbsp;</p>
        <p class="spacer">&nbsp;</p>
      </section>
    </div>
  </main>
</Layout>

<script>
  const options = { threshold: 0.5 }
  const toBeObserveds = [
    'apflora',
    'arteigenschaften',
    'vermehrung',
    'kapla',
    'awel-personal',
    'awel-indikatoren',
    'mediterranean-migration',
  ]
  for (const toBeObserved of toBeObserveds) {
    const section = document.querySelector(`#${toBeObserved}`)
    if (!section) continue
    const sectionObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          document
            .querySelector(`#${toBeObserved}-link`)
            ?.classList.add('active')
        } else {
          document
            .querySelector(`#${toBeObserved}-link`)
            ?.classList.remove('active')
        }
      })
    }, options)
    sectionObserver.observe(section)
  }
</script>

<style>
  .page {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    container-type: inline-size;
    padding-top: 15px;
  }
  @media (min-width: 800px) {
    .page {
      display: grid;
      grid-template-columns: 180px 1fr;
      grid-column-gap: 30px;
      padding-top: 0;
    }
  }
  .content {
    container-type: inline-size;
  }

  ul {
    padding-left: 19px;
    margin-top: 0;
  }
  li {
    margin-bottom: 0;
    list-style: disc;
    line-height: 1.7;
  }
  h2 {
    margin-top: 5px !important;
    margin-bottom: 8px !important;
    font-weight: bold;
    font-size: 24px;
  }
  h3 {
    margin-bottom: 8px !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }
  section {
    margin-bottom: 60px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }
  p {
    margin-bottom: 0;
  }
  .lead {
    padding-bottom: 16px;
    font-weight: 500;
    color: #155f00c7;
    font-size: 20px;
    font-style: italic;
  }
  img {
    margin-bottom: 0;
  }
  .spacer {
    height: 60px;
  }
  .carousel-container {
    margin-top: 12px;
    width: 100cqw;
    container-type: size;
  }
  .carousel-container-apflora {
    aspect-ratio: 1.6538 / 1;
  }
  .carousel-container-vermehrung {
    aspect-ratio: 1.14666 / 1;
  }
  .carousel-container-kapla {
    aspect-ratio: 1.7199 / 1;
  }
  .carousel-container-indikatoren {
    aspect-ratio: 1.7174 / 1;
  }
  .carousel-container-mm {
    aspect-ratio: 2.051 / 1;
  }
  [astro-icon] {
    color: #006f00;
    height: 51px;
  }
</style>
