---
import Navbar from './Navbar.astro'
---

<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Software entwickeln" />
    <meta name="keywords" content="Software, Entwicklung, Naturschutz" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#145f00" />
    <meta name="background-color" content="#145f00" />
    <meta name="msapplication-TileColor" content="#145f00" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicon_192.webp" sizes="192x192" />
    <link rel="mask-icon" href="/favicon.svg" color="#145f00" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="manifest" href="manifest.webmanifest" />
    <title>Gabriel Software</title>
  </head>
  <body>
    <Navbar>
      <slot />
    </Navbar>
  </body>
</html>

<style is:global>
  body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica',
      'Arial', sans-serif;
  }
  ::-webkit-scrollbar {
    /* Foreground, Background */
    scrollbar-color: #155f0057 #155f000f;
  }
  ::-webkit-scrollbar {
    width: 10px; /* Mostly for vertical scrollbars */
    height: 10px; /* Mostly for horizontal scrollbars */
  }
  ::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #155f0057;
  }
  ::-webkit-scrollbar-track {
    /* Background */
    background: #155f000f;
  }
  a {
    color: #145f00;
    border-bottom: 1px dashed #333;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 1px solid #145f00;
    text-decoration: none;
  }
</style>
