---
const pathname = Astro.url.pathname
---

<>
  <nav
    role="navigation"
    class="navbar navbar-expand-md navbar-dark bg-dark sticky-top"
  >
    <div class="container-fluid">
      <a href="/" class:list={['navbar-brand', { active: pathname === '/' }]}
        >Gabriel Software</a
      >
      <button aria-label="toggle Navbar" type="button" class="navbar-toggler"
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div style="justify-content:flex-end" class="collapse navbar-collapse">
        <ul class="ml-auto navbar-nav">
          <li class="nav-item">
            <a
              href="/leitbild/"
              class:list={['nav-link', { active: pathname === '/leitbild/' }]}
              >Leitbild</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/projekte/"
              class:list={['nav-link', { active: pathname === '/projekte/' }]}
              >Projekte</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/projekte-astro/"
              class:list={[
                'nav-link',
                { active: pathname === '/projekte-astro/' },
              ]}>Projekte astro</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/technologien/"
              class:list={[
                'nav-link',
                { active: pathname === '/technologien/' },
              ]}>Technologien</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/kontakt/"
              class:list={['nav-link', { active: pathname === '/kontakt/' }]}
              >Kontakt</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="scroll-container"
    data-bs-spy="scroll"
    data-bs-target="#list"
    data-bs-smooth-scroll="true"
    tabindex="0"
  >
    <div class="container">
      <slot />
    </div>
  </div>
</>
<style>
  .scroll-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100% - 56px);
    scroll-snap-type: none;
    scroll-padding: 12px;
    scroll-behavior: smooth;
  }
  .container {
    margin: 0 auto;
    max-width: 1170px;
  }
  .my-nav-item {
    margin-bottom: 0 !important;
  }
</style>
