---
import Layout from '../components/Layout/index.astro'
---

<Layout>
  <div class="container">
    <h1>NICHT GEFUNDEN</h1>
    <p>Sorry, diese URL existiert nicht :-(</p>
  </div>
</Layout>

<style>
  .container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
