---
import Layout from '../components/Layout/index.astro'
import { Icon } from 'astro-icon'
---

<Layout>
  <main class="page">
    <div class="jumbotron">
      <h1>Gabriel Software</h1>
      <ul>
        <li>einfach</li>
        <li>individuell</li>
        <li>zuverlässig</li>
      </ul>
      <p>...damit Sie sich auf Ihre Arbeit konzen­trieren können</p>
    </div>

    <p class="apps-for">Apps für:</p>

    <div class="content">
      <section class="section-web">
        <Icon pack="bi" name="cloud" class="cloud-icon" />
        <h2>Web</h2>
        <ul>
          <li>{`Im Browser / als Progressive Web App`}</li>
          <li>Im Inter- oder Intranet</li>
          <li>Installieren und Aktualisieren sind simpel</li>
        </ul>
      </section>
      <section class="section-desktop">
        <Icon pack="ant-design" name="desktop-outlined" class="desktop-icon" />
        <h2>Desktop</h2>
        <ul>
          <li>Lokal installiert</li>
          <li>Windows, Mac, Linux</li>
          <li>Lösungen mit beinahe null Unterhalt möglich</li>
        </ul>
      </section>
      <section class="section-mobile">
        <Icon pack="ant-design" name="mobile-outlined" class="mobile-icon" />
        <h2>Mobile</h2>
        <ul>
          <li>Im App-Store</li>
          <li>Android und iOS</li>
        </ul>
      </section>
      <section class="section-all">
        <Icon pack="bi" name="cloud" class="all-cloud-icon" />
        <Icon
          pack="ant-design"
          name="desktop-outlined"
          class="all-desktop-icon"
        />
        <Icon
          pack="ant-design"
          name="mobile-outlined"
          class="all-mobile-icon"
        />
        <h2>Alle Geräte-Klassen</h2>
        <ul>
          <li>Basierend auf einer einzigen Code-Basis</li>
          <li>Am PC vorbereiten, mobil erfassen</li>
        </ul>
      </section>
      <section class="section-done">
        <Icon pack="ic" name="round-done" class="done-icon" />
        <h2>Hohe Ansprüche</h2>
        <ul>
          <li>Live synchronisiert</li>
          <li>Offline-first mit leistungsfähiger Konflikt-Lösung</li>
          <li>Adaptives Benutzer-Erlebnis</li>
        </ul>
      </section>
    </div>
    <div class="spacer"></div>
  </main>
</Layout>

<style>
  .page {
    padding: 15px;
  }
  .jumbotron {
    margin-top: 15px;
    margin-bottom: 32px;
    padding: 60px;
    border-radius: 5px;
    background-color: #e0f6da;
    font-size: 21px;
    font-weight: 500;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 10px;
  }
  section {
    flex-basis: 215px;
    flex-grow: 1;
  }
  .section-mobile {
    flex-basis: 160px;
  }
  .section-all {
    flex-basis: 283px;
  }
  .jumbotron ul {
    padding-left: 30px;
  }
  h1 {
    font-size: 63px;
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 600;
  }
  h2 {
    margin-bottom: -5px;
    margin-top: -5px;
    font-weight: bold;
    font-size: 24px;
  }
  .apps-for {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 4px;
    color: #145f00;
  }
  .section-title {
    line-height: 1;
  }
  ul {
    padding-left: 20px;
  }
  li {
    margin-bottom: 0;
  }
  .cloud-icon {
    font-size: 90px;
    min-height: 89px;
    max-height: 89px;
    margin-bottom: -5px;
    margin-left: -5px;
  }
  .desktop-icon {
    min-height: 84px;
    max-height: 84px;
  }
  .mobile-icon {
    min-height: 71px;
    max-height: 71px;
    margin-left: -12px;
    padding-top: 7px;
    padding-bottom: 6px;
  }
  .all-cloud-icon {
    padding-top: 5px;
    min-height: 84px;
    max-height: 84px;
    margin-bottom: -5px;
  }
  .all-desktop-icon {
    min-height: 78px;
    max-height: 78px;
    margin-left: -3px;
    padding-top: 5px;
    padding-bottom: 1px;
  }
  .all-mobile-icon {
    min-height: 67px;
    max-height: 67px;
    margin-bottom: 0;
    margin-left: -12px;
    padding-bottom: 7px;
    padding-top: 10px;
  }
  .done-icon {
    min-height: 91px;
    max-height: 91px;
    margin-left: -5px;
    margin-bottom: -7px;
  }
  .spacer {
    height: 60px;
  }
</style>
