---
import Layout from '../components/Layout/index.astro'
// TODO: move map out of Kontakt, to avoid client:only
---

<Layout>
  <div class="page kontakt">
    <div class="row">
      <div class="col-lg-3">
        <img
          alt="Alexander Gabriel"
          src="/alex.jpg"
          class="js-alexImage "
        /><address class="js-address">
          <strong>Gabriel Software</strong><br />Alexander Gabriel<br />Dipl.
          Umwelt-Naturwissenschafter ETH<br />Wiesenstrasse 22<br />8800 Thalwil<br
          />079 372 51 64<br /><a href="mailto:#">alex@gabriel-software.ch</a>
        </address>
      </div><div class="col-lg-9">
        <div
          class="leaflet-container leaflet-touch leaflet-retina leaflet-fade-anim leaflet-grab leaflet-touch-drag leaflet-touch-zoom"
          tabindex="0"
          style="height: 400px; width: 100%; position: relative;"
        >
          <div
            class="leaflet-pane leaflet-map-pane"
            style="transform: translate3d(0px, 0px, 0px);"
          >
            <div class="leaflet-pane leaflet-tile-pane">
              <div class="leaflet-layer" style="z-index: 1; opacity: 1;">
                <div
                  class="leaflet-tile-container leaflet-zoom-animated"
                  style="z-index: 22; transform: translate3d(0px, 0px, 0px) scale(1);"
                >
                  <img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/536/358.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(466px, -45px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/536/359.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(466px, 211px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/535/358.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(210px, -45px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/537/358.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(722px, -45px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/535/359.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(210px, 211px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/537/359.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(722px, 211px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/534/358.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(-46px, -45px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/538/358.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(978px, -45px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/534/359.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(-46px, 211px, 0px); opacity: 1;"
                  /><img
                    alt=""
                    src="//wmts20.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/10/538/359.jpeg"
                    class="leaflet-tile leaflet-tile-loaded"
                    style="width: 256px; height: 256px; transform: translate3d(978px, 211px, 0px); opacity: 1;"
                  />
                </div>
              </div>
            </div><div class="leaflet-pane leaflet-overlay-pane"></div><div
              class="leaflet-pane leaflet-shadow-pane"
            >
            </div><div class="leaflet-pane leaflet-marker-pane">
              <img
                src="/src/components/Kontakt/_icon.svg"
                class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
                alt="Marker"
                tabindex="0"
                role="button"
                style="margin-left: -10px; margin-top: -10px; width: 100px; height: 100px; transform: translate3d(560px, 200px, 0px); z-index: 200;"
              />
            </div><div class="leaflet-pane leaflet-tooltip-pane"></div><div
              class="leaflet-pane leaflet-popup-pane"
            >
            </div><div
              class="leaflet-proxy leaflet-zoom-animated"
              style="transform: translate3d(137310px, 91892.9px, 0px) scale(512);"
            >
            </div>
          </div><div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left">
              <div class="leaflet-control-zoom leaflet-bar leaflet-control">
                <a
                  class="leaflet-control-zoom-in"
                  href="#"
                  title="Zoom in"
                  role="button"
                  aria-label="Zoom in"
                  aria-disabled="false"><span aria-hidden="true">+</span></a
                ><a
                  class="leaflet-control-zoom-out"
                  href="#"
                  title="Zoom out"
                  role="button"
                  aria-label="Zoom out"
                  aria-disabled="false"><span aria-hidden="true">−</span></a
                >
              </div>
            </div><div class="leaflet-top leaflet-right"></div><div
              class="leaflet-bottom leaflet-left"
            >
              <div class="leaflet-control-scale leaflet-control">
                <div class="leaflet-control-scale-line" style="width: 97px;">
                  10 km
                </div>
              </div>
            </div><div class="leaflet-bottom leaflet-right">
              <div class="leaflet-control-attribution leaflet-control">
                <a
                  href="https://leafletjs.com"
                  title="A JavaScript library for interactive maps"
                  ><svg
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="12"
                    height="8"
                    viewBox="0 0 12 8"
                    class="leaflet-attribution-flag"
                    ><path fill="#4C7BE1" d="M0 0h12v4H0z"></path><path
                      fill="#FFD500"
                      d="M0 4h12v3H0z"></path><path
                      fill="#E0BC00"
                      d="M0 7h12v1H0z"></path></svg
                  > Leaflet</a
                >
                <span aria-hidden="true">|</span> © <a href="//swisstopo.ch"
                  >Swisstopo</a
                >
              </div>
            </div>
          </div>
        </div><div>
          <small
            ><a
              href="https://www.google.ch/maps/place/47.289563,8.56644"
              target="_blank"
              rel="noopener noreferrer"
              style="color: rgb(20, 95, 0); text-align: left;"
              >in Google Maps öffnen</a
            ></small
          >
        </div>
      </div>
    </div><div class="css-1c03iks">
      <h3>Über mich</h3><h5>Naturwissenschaften</h5><ul>
        <li>Studium der Umwelt-Naturwissenschaften an der ETH Zürich</li><li>
          Aufbau und Co-Leitung der <a
            href="http://geos-gmbh.ch/"
            target="_blank"
            rel="noopener noreferrer">GeOs GmbH</a
          > (1995 - 2002)
        </li><li>
          Entwicklung von Methoden zur Renaturierung von Mooren, am
          Geobotanischen Institut der ETH Zürich (1996 - 2001, 30%)
        </li><li>
          Mitarbeit im Amt für Natur und Umwelt Graubünden (1996 - 2005, zuerst
          20%, später 80%) und
        </li><li>
          ...in der Fachstelle Naturschutz des Kantons Zürich (2005 - 2013)
        </li>
      </ul><h5>Software nebenbei</h5><p>
        Von Beginn weg war ich neben meiner Haupttätigkeit als
        Naturschutz-Fachperson oft zuständig für Hard- und Software. Mehrmals
        auch die Schnittstelle zwischen Naturschutz-Projekten und externen
        Software-Entwicklern.
      </p><p>
        Die Spanne reichte inhaltlich von wissenschaftlichen Erhebungen,
        naturschutz-relevanten Feld-Daten bis zur Berechnung und Optimierung von
        (Direkt-)Zahlungen an der Schnittstelle zwischen Landwirtschaft und
        Naturschutz.
      </p><p>
        Technisch: Von anspruchsvollen Excel-Formularen bis zu
        Access-Applikationen. Höhepunkt: Verwaltung von Verträgen und Auszahlung
        von Direktzahlungen für hunderte von Landwirtschafts-Betrieben auf
        zehntausenden Flächen, mit einem komplexen und dynamischen
        Beitragssystem.
      </p><h5>Software professionell</h5><p>
        2012 hat ein Unfall mein Leben verändert. In mehreren Monaten im Bett
        begann ich, Software zu entwickeln. Das ersetzte die bisherigen
        Herausforderungen in Sport und Beruf.
      </p><p>
        Nach &gt; 10 Jahren professioneller Software-Entwicklung bin ich stolz,
        Anwendungen bauen zu können, die on- oder offline, gleichzeitig von
        einem ganzen Team benutzt werden können und auf jedem Gerät
        funktionieren.
      </p><p>
        Brauchen Sie Software mit einem Bezug zu Natur(-schutz)? Das
        interessiert mich besonders. Und Sie könnten dabei von meinem
        naturwissenschaftlichen Hintergrund profitieren: Je besser ich Ihre
        Arbeit verstehe, desto besser das Ergebnis!
      </p>
    </div>
  </div>
</Layout>

<style>
  .page {
    padding: 15px;
  }
  .row a {
    color: #145f00;
    border-bottom: 1px dashed #333;
    text-decoration: none;
  }
  .row a:hover {
    border-bottom: 1px solid #145f00;
    text-decoration: none;
  }
  .row ul {
    padding-left: 20px;
  }
  .col {
    /* side spacing for mobile first views */
    padding: 10px !important;
  }
  img {
    margin-bottom: 10px;
  }
</style>
