---
import { Icon } from 'astro-icon'
import Layout from '../components/Layout/index.astro'
---

<Layout>
  <main class="page technologien">
    <p class="lead">Mit diesen Technologien kenne ich mich aus:</p>
    <div class="content">
      <section>
        <Icon pack="ic" name="baseline-architecture" class="icon" />
        <h1>App-Architekturen</h1>
        <ul>
          <li>
            <a
              href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps"
              target="_blank"
              rel="noopener noreferrer"
            >
              Progressive Web Apps
            </a>
            <p>
              Web-Apps auf Augenhöhe mit nativen Apps, mit allen Vorteilen des
              Webs
            </p>
          </li>
          <li>
            <a
              href="https://www.electronjs.org/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Electron
            </a>{' '}
            und{' '}
            <a
              href="https://tauri.app/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Tauri
            </a>
            <p>
              JavaScript-Apps auf PC/Mac/Linux installieren. Mit Tauri bald auch
              auf Android/iOS
            </p>
          </li>
          <li>
            <a
              href="https://flutter.dev/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Flutter
            </a>
            <p>Apps für mobile und desktop mit nativer Leistung</p>
          </li>
        </ul>
        <Icon pack="fa-solid" name="database" class="icon" />
        <h1 style={{ marginTop: 5 }}>Datenbanken</h1>
        <ul>
          <li>
            <a
              href="http://www.postgresql.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              PostgreSQL
            </a>
            <p>Der Klassenprimus</p>
          </li>
          <li>
            <a
              href="https://de.wikipedia.org/wiki/PostGIS"
              target="_blank"
              rel="noopener noreferrer"
            >
              PostGIS
            </a>
            <p>Erweitert PostgreSQL zur mächtigen Geo-Datenbank</p>
          </li>
          <li>
            <a
              href="http://www.sqlite.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              SQLite
            </a>
            <p>{`Simpler geht's nimmer`}</p>
          </li>
          <li>
            <a
              href="http://couchdb.apache.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              CouchDB
            </a>
            <p>Der Synchronisations-Meister</p>
          </li>
        </ul>
      </section>
      <section>
        <div
          style={{
            fontStyle: 'oblique',
            fontSize: 16,
            fontWeight: 600,
            marginTop: 9,
            color: 'grey',
          }}
        >
          {'if ( ... ) then \u007B ... \u007D'}
        </div>
        <h1 style={{ marginTop: 3 }}>Programmiersprachen</h1>
        <ul>
          <li>
            <a
              href="https://de.wikipedia.org/wiki/Hypertext_Markup_Language"
              target="_blank"
              rel="noopener noreferrer"
            >
              HTML
            </a>
            <p>Dokumente fürs Web</p>
          </li>
          <li>
            <a
              href="https://de.wikipedia.org/wiki/Cascading_Style_Sheets"
              target="_blank"
              rel="noopener noreferrer"
            >
              CSS
            </a>
            <p>Layouten für HTML</p>
          </li>
          <li>
            <a
              href="http://en.wikipedia.org/wiki/JavaScript"
              target="_blank"
              rel="noopener noreferrer"
            >
              JavaScript
            </a>
            <p>
              Die verbreitetste Programmiersprache. Vermutlich auch die
              vielfältigste und sich am schnellsten weiter entwickelnde
            </p>
          </li>
          <li>
            <a
              href="https://nodejs.org"
              target="_blank"
              rel="noopener noreferrer"
            >
              Node.js
            </a>
            <p>JavaScript auf PC und Server</p>
          </li>
          <li>
            <a
              href="https://de.wikipedia.org/wiki/JavaScript_Object_Notation"
              target="_blank"
              rel="noopener noreferrer"
            >
              JSON
            </a>
            <p>Hierarchische Datenstrukturen</p>
          </li>
          <li>
            <a
              href="https://de.wikipedia.org/wiki/SQL"
              target="_blank"
              rel="noopener noreferrer"
            >
              SQL
            </a>
            <p>Daten in der Datenbank abfragen und manipulieren</p>
          </li>
          <li>
            <a href="//graphql.org/" target="_blank" rel="noopener noreferrer">
              GraphQL
            </a>
            <p>Daten flexibel von der API abfragen</p>
          </li>
          <li>
            <a
              href="https://dart.dev"
              target="_blank"
              rel="noopener noreferrer"
            >
              Dart
            </a>
            <p>Die Sprache hinter Flutter</p>
          </li>
        </ul>
      </section>
      <section>
        <Icon pack="fa" name="wrench" class="icon" />
        <h1 style={{ marginTop: 0 }}>
          Werkzeuge <small>(Auswahl)</small>
        </h1>
        <ul>
          <li>
            <a
              href="https://en.wikipedia.org/wiki/Docker_(software)"
              target="_blank"
              rel="noopener noreferrer"
            >
              Docker
            </a>
            <p>Container für Apps und Server</p>
          </li>
          <li>
            <a
              href="http://hapijs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              Hapi
            </a>
            <p>Meister Server</p>
          </li>
          <li>
            <a
              href="https://www.graphile.org/postgraphile"
              target="_blank"
              rel="noopener noreferrer"
            >
              PostGraphile
            </a>{' '}
            und{' '}
            <a
              href="https://hasura.io/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Hasura
            </a>
            <p>{`GraphQL-Schnittstellen`}</p>
          </li>
          <li>
            <a
              href="https://vitejs.dev/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Vite
            </a>
            <p>Entwicklungswerkzeug für Web-Apps</p>
          </li>
          <li>
            <a
              href="https://facebook.github.io/react"
              target="_blank"
              rel="noopener noreferrer"
            >
              React
            </a>
            {' und '}
            <a
              href="https://github.com/mobxjs/mobx-state-tree"
              target="_blank"
              rel="noopener noreferrer"
            >
              MobX-State-Tree
            </a>
            <p>
              Die Benutzeroberfläche ist eine Funktion von Anwendungsdaten und
              Benutzereingaben
            </p>
          </li>
          <li>
            <a
              href="http://getbootstrap.com/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Bootstrap
            </a>
            &nbsp;und&nbsp;
            <a
              href="http://www.material-ui.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              Material UI
            </a>
            <p>Layouten nach Google und Microsoft</p>
          </li>
          <li>
            <a
              href="http://leafletjs.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              Leaflet
            </a>
            &nbsp;und&nbsp;
            <a
              href="https://developers.google.com/maps/?hl=de"
              target="_blank"
              rel="noopener noreferrer"
            >
              Google Maps API
            </a>
            <p>Karten einbinden</p>
          </li>
        </ul>
        <Icon pack="fa-brands" name="windows" class="icon" alt="Windows" />
        <Icon pack="fa-brands" name="linux" class="icon" alt="Linux" />
        <Icon pack="fa-brands" name="apple" class="icon" alt="MaxOs" />
        <h1>Betriebssysteme</h1>
        <ul>
          <li>
            <a
              href="http://de.wikipedia.org/wiki/Microsoft_Windows"
              target="_blank"
              rel="noopener noreferrer"
            >
              Windows
            </a>
            <p>Der Benutzerfreundliche</p>
          </li>
          <li>
            <a
              href="http://de.wikipedia.org/wiki/Ubuntu"
              target="_blank"
              rel="noopener noreferrer"
            >
              Ubuntu Linux
            </a>
            <p>Der Server-Meister</p>
          </li>
          <li>
            <a
              href="http://de.wikipedia.org/wiki/Mac_OS_X"
              target="_blank"
              rel="noopener noreferrer"
            >
              MacOS
            </a>
            <p>Entwickler fliegen drauf</p>
          </li>
        </ul>
      </section>
    </div>
  </main>
</Layout>

<style>
  .page {
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    .page {
      padding: 5px 30px;
    }
  }
  .lead {
    padding-bottom: 16px;
    font-weight: 300;
    color: #145f00;
    font-size: 20px;
    font-style: italic;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 20px;
  }
  section {
    flex-basis: 345px;
    flex-grow: 1;
  }
  h1 {
    margin-top: 5px !important;
    margin-bottom: 8px !important;
    font-weight: bold;
    font-size: 24px;
  }
  ul {
    margin-top: 0;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  li {
    margin-bottom: 5px;
    line-height: 1.4em;
  }
  .content p {
    margin-top: 0;
    margin-bottom: -2px;
  }
  .spacer {
    height: 10px;
  }
  .icon {
    height: 30px;
  }
</style>
