---
import leaflet from 'leaflet'
import 'leaflet/dist/leaflet.css'
---

<div id="map">map</div>

<style>
  #map {
    width: 100cqw;
    height: 100cqh;
    background-color: burlywood;
  }
</style>
