---
import 'swiper/css'
import 'swiper/css/navigation'
import './styles.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url('/ae_01_strbaum.webp')"
    >
      Strukturbaum erschliesst alle Datenstrukturen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_02_strbaum_angemeldet.webp')"
    >
      angemeldete Benutzer mit entsprechenden Rechten sehen mehr
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_03_suchen.webp')"
    >
      Art, Lebensraum oder Eigenschaften-Sammlung suchen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_04_strbaum.webp')"
    >
      Der Strukturbaum baut die Taxonomien dynamisch aus den Daten auf
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_05_taxonomie.webp')"
    >
      Taxonomie anzeigen...
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_06_synonyme.webp')"
    >
      ...inklusive Synonymen und ihren Eigenschaften
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_07_tax_bearbeiten.webp')"
    >
      Taxonomie bearbeiten
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_08_tax_links.webp')"
    >
      Links zu externen Informationen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_09_es_zeigen.webp')"
    >
      Eigenschaften-Sammlung zeigen...
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_10_es_zeigen.webp')"
    >
      ...inklusive ihren Eigenschaften
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_11_export.webp')"
    >
      Export: Taxonomie(n) wählen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_12_export_filter.webp')"
    >
      Export: Daten filtern
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_13_export_felder.webp')"
    >
      Export: Felder wählen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_13_export_felder.webp')"
    >
      Export: Felder wählen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_14_export.webp')"
    >
      Export: Datei speichern
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_15_import.webp')"
    >
      Eigenschaften importieren
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_16_organisationen.webp')"
    >
      Organisationen geben Benutzern Rollen...
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_17_organisationen.webp')"
    >
      ...und sehen, für welche Taxonomien und Eigenschaften-Sammlungen sie
      zuständig sind
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ae_18_benutzer.webp')"
    >
      Benutzer mit Konto sehen, welche Eigenschaften-Sammlungen und Taxonomien
      sie importiert haben
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>

<style>
  .swiper {
    width: 930px;
    height: 552px;
  }
  .swiper-slide {
    line-height: 1040px;
    font-size: 17px;
  }
</style>
