---
import './styles.css'
---

<ol class="carousel__viewport">
  <li
    id="slide1"
    tabindex="0"
    class="slide"
    style="background-image: url('/01_strbaum.png')"
  >
    <div class="snapper"></div>
    <a href="#slide4" class="carousel__prev move">Go to last slide</a>
    <a href="#slide2" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      Strukturbaum erschliesst alle Datenstrukturen
    </div>
  </li>
  <li
    id="slide2"
    tabindex="0"
    class="slide"
    style="background-image: url('/02_strbaum_angemeldet.png')"
  >
    <div class="snapper"></div>
    <a href="#slide1" class="carousel__prev move">voriges</a>
    <a href="#slide3" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      angemeldete Benutzer mit entsprechenden Rechten sehen mehr
    </div>
  </li>
  <li
    id="slide3"
    tabindex="0"
    class="slide"
    style="background-image: url('/03_suchen.png')"
  >
    <div class="snapper"></div>
    <a href="#slide2" class="carousel__prev move">voriges</a>
    <a href="#slide4" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      Art, Lebensraum oder Eigenschaften-Sammlung suchen
    </div>
  </li>
  <li
    id="slide4"
    tabindex="0"
    class="slide"
    style="background-image: url('/04_strbaum.png')"
  >
    <div class="snapper"></div>
    <a href="#slide3" class="carousel__prev move">voriges</a>
    <a href="#slide5" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      Der Strukturbaum baut die Taxonomien dynamisch aus den Daten auf
    </div>
  </li>
  <li
    id="slide5"
    tabindex="0"
    class="slide"
    style="background-image: url('/05_taxonomie.png')"
  >
    <div class="snapper"></div>
    <a href="#slide4" class="carousel__prev move">voriges</a>
    <a href="#slide6" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Taxonomie anzeigen...</div>
  </li>
  <li
    id="slide6"
    tabindex="0"
    class="slide"
    style="background-image: url('/06_synonyme.png')"
  >
    <div class="snapper"></div>
    <a href="#slide5" class="carousel__prev move">voriges</a>
    <a href="#slide7" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      ...inklusive Synonymen und ihren Eigenschaften
    </div>
  </li>
  <li
    id="slide7"
    tabindex="0"
    class="slide"
    style="background-image: url('/07_tax_bearbeiten.png')"
  >
    <div class="snapper"></div>
    <a href="#slide6" class="carousel__prev move">voriges</a>
    <a href="#slide8" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Taxonomie bearbeiten</div>
  </li>
  <li
    id="slide8"
    tabindex="0"
    class="slide"
    style="background-image: url('/08_tax_links.png')"
  >
    <div class="snapper"></div>
    <a href="#slide7" class="carousel__prev move">voriges</a>
    <a href="#slide9" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Links zu externen Informationen</div>
  </li>
  <li
    id="slide9"
    tabindex="0"
    class="slide"
    style="background-image: url('/09_es_zeigen.png')"
  >
    <div class="snapper"></div>
    <a href="#slide8" class="carousel__prev move">voriges</a>
    <a href="#slide10" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Eigenschaften-Sammlung zeigen...</div>
  </li>
  <li
    id="slide10"
    tabindex="0"
    class="slide"
    style="background-image: url('/10_es_zeigen.png')"
  >
    <div class="snapper"></div>
    <a href="#slide9" class="carousel__prev move">voriges</a>
    <a href="#slide11" class="carousel__next move">nächstes</a>
    <div class="carousel-title">...inklusive ihren Eigenschaften</div>
  </li>
  <li
    id="slide11"
    tabindex="0"
    class="slide"
    style="background-image: url('/11_export.png')"
  >
    <div class="snapper"></div>
    <a href="#slide10" class="carousel__prev move">voriges</a>
    <a href="#slide12" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Export: Taxonomie(n) wählen</div>
  </li>
  <li
    id="slide12"
    tabindex="0"
    class="slide"
    style="background-image: url('/12_export_filter.png')"
  >
    <div class="snapper"></div>
    <a href="#slide11" class="carousel__prev move">voriges</a>
    <a href="#slide13" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Export: Daten filtern</div>
  </li>
  <li
    id="slide13"
    tabindex="0"
    class="slide"
    style="background-image: url('/13_export_felder.png')"
  >
    <div class="snapper"></div>
    <a href="#slide12" class="carousel__prev move">voriges</a>
    <a href="#slide1" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Export: Felder wählen</div>
  </li>
  <li
    id="slide14"
    tabindex="0"
    class="slide"
    style="background-image: url('/14_export.png')"
  >
    <div class="snapper"></div>
    <a href="#slide13" class="carousel__prev move">voriges</a>
    <a href="#slide15" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Export: Datei speichern</div>
  </li>
  <li
    id="slide15"
    tabindex="0"
    class="slide"
    style="background-image: url('/15_import.png')"
  >
    <div class="snapper"></div>
    <a href="#slide14" class="carousel__prev move">voriges</a>
    <a href="#slide16" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Eigenschaften importieren</div>
  </li>
  <li
    id="slide16"
    tabindex="0"
    class="slide"
    style="background-image: url('/16_organisationen.png')"
  >
    <div class="snapper"></div>
    <a href="#slide15" class="carousel__prev move">voriges</a>
    <a href="#slide17" class="carousel__next move">nächstes</a>
    <div class="carousel-title">Organisationen geben Benutzern Rollen...</div>
  </li>
  <li
    id="slide17"
    tabindex="0"
    class="slide"
    style="background-image: url('/17_organisationen.png')"
  >
    <div class="snapper"></div>
    <a href="#slide16" class="carousel__prev move">voriges</a>
    <a href="#slide18" class="carousel__next move">nächstes</a>
    <div class="carousel-title">
      ...und sehen, für welche Taxonomien und Eigenschaften-Sammlungen sie
      zuständig sind
    </div>
  </li>
  <li
    id="slide18"
    tabindex="0"
    class="slide"
    style="background-image: url('/18_benutzer.png')"
  >
    <div class="snapper"></div>
    <a href="#slide17" class="carousel__prev move">voriges</a>
    <a href="#slide1" class="carousel__next move">erstes</a>
    <div class="carousel-title">
      Benutzer mit Konto sehen, welche Eigenschaften-Sammlungen und Taxonomien
      sie importiert haben
    </div>
  </li>
</ol>
<aside class="navigation">
  <ol class="navigation-list">
    <li class="navigation-item">
      <a href="#slide1" class="navigation-button move">Zu Bild 1</a>
    </li>
    <li class="navigation-item">
      <a href="#slide2" class="navigation-button move">Zu Bild 2</a>
    </li>
    <li class="navigation-item">
      <a href="#slide3" class="navigation-button move">Zu Bild 3</a>
    </li>
    <li class="navigation-item">
      <a href="#slide4" class="navigation-button move">Zu Bild 4</a>
    </li>
    <li class="navigation-item">
      <a href="#slide5" class="navigation-button move">Zu Bild 5</a>
    </li>
    <li class="navigation-item">
      <a href="#slide6" class="navigation-button move">Zu Bild 6</a>
    </li>
    <li class="navigation-item">
      <a href="#slide7" class="navigation-button move">Zu Bild 7</a>
    </li>
    <li class="navigation-item">
      <a href="#slide8" class="navigation-button move">Zu Bild 8</a>
    </li>
    <li class="navigation-item">
      <a href="#slide9" class="navigation-button move">Zu Bild 9</a>
    </li>
    <li class="navigation-item">
      <a href="#slide10" class="navigation-button move">Zu Bild 10</a>
    </li>
    <li class="navigation-item">
      <a href="#slide11" class="navigation-button move">Zu Bild 11</a>
    </li>
    <li class="navigation-item">
      <a href="#slide12" class="navigation-button move">Zu Bild 12</a>
    </li>
    <li class="navigation-item">
      <a href="#slide13" class="navigation-button move">Zu Bild 13</a>
    </li>
    <li class="navigation-item">
      <a href="#slide14" class="navigation-button move">Zu Bild 14</a>
    </li>
    <li class="navigation-item">
      <a href="#slide15" class="navigation-button move">Zu Bild 15</a>
    </li>
    <li class="navigation-item">
      <a href="#slide16" class="navigation-button move">Zu Bild 16</a>
    </li>
    <li class="navigation-item">
      <a href="#slide17" class="navigation-button move">Zu Bild 17</a>
    </li>
    <li class="navigation-item">
      <a href="#slide18" class="navigation-button move">Zu Bild 18</a>
    </li>
  </ol>
</aside>
