---
import 'swiper/css'
import 'swiper/css/navigation'
import './stylesSwiper.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url('/apf_01_tpop_beschreiben.webp')"
    >
      Teilpopulationen beschreiben
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_02_feldkontr_beschreiben.webp')"
    >
      Feldkontrollen beschreiben
    </div>
    <div class="swiper-slide" style="background-image: url('/apf_03_ekf.webp')">
      Freiwillige erfassen ihre Kontrollen selber
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_04_karte.webp')"
    >
      Teilpopulationen auf Karte darstellen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_05_layer.webp')"
    >
      Layer überlagern
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_06_zuordnen.webp')"
    >
      Beobachtungen direkt auf der Karte Teilpopulationen zuordnen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_07_bericht.webp')"
    >
      Jahresbericht generieren
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_08_form_filter.webp')"
    >
      nach allen Feldern filtern
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_09_raum_filter.webp')"
    >
      räumlich filtern
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_10_export.webp')"
    >
      exportieren
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/apf_11_mehr.webp')"
    >
      ...und mehr
    </div>
    <div class="swiper-slide" style="background-image: url('/apf_12_pb.webp')">
      neue Features in der Projekt-Dokumentation lernen
    </div>
    <div class="swiper-slide" style="background-image: url('/apf_13.webp')">
      Kontrollen planen
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>

<style>
  .swiper {
    width: 930px;
    height: 552px;
  }
  .swiper-slide {
    line-height: 1040px;
  }
</style>
