---
import './styles.css'
---

<section class="carousel" aria-label="Gallerie">
  <ol class="carousel__viewport">
    <li
      id="apflora-slide1"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_01_tpop_beschreiben.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide4" class="carousel__prev move-apflora">Go to last slide</a>
      <a href="#apflora-slide2" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">Teilpopulationen beschreiben</div>
    </li>
    <li
      id="apflora-slide2"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_02_feldkontr_beschreiben.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide1" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide3" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">Feldkontrollen beschreiben</div>
    </li>
    <li
      id="apflora-slide3"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_03_ekf.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide2" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide4" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">
        Freiwillige erfassen ihre Kontrollen selber
      </div>
    </li>
    <li
      id="apflora-slide4"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_04_karte.jpg')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide3" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide5" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">Teilpopulationen auf Karte darstellen</div>
    </li>
    <li
      id="apflora-slide5"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_05_layer.jpg')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide4" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide6" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">Layer überlagern</div>
    </li>
    <li
      id="apflora-slide6"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_06_zuordnen.jpg')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide5" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide7" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">
        Beobachtungen direkt auf der Karte Teilpopulationen zuordnen
      </div>
    </li>
    <li
      id="apflora-slide7"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_07_bericht.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide6" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide8" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">Jahresbericht generieren</div>
    </li>
    <li
      id="apflora-slide8"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_08_form_filter.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide7" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide9" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">nach allen Feldern filtern</div>
    </li>
    <li
      id="apflora-slide9"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_09_raum_filter.jpg')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide8" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide10" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">räumlich filtern</div>
    </li>
    <li
      id="apflora-slide10"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_10_export.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide9" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide11" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">exportieren</div>
    </li>
    <li
      id="apflora-slide11"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_11_mehr.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide10" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide12" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">...und mehr</div>
    </li>
    <li
      id="apflora-slide12"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_12_pb.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide11" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide13" class="carousel__next move-apflora">nächstes</a>
      <div class="carousel-title">
        neue Features in der Projekt-Dokumentation lernen
      </div>
    </li>
    <li
      id="apflora-slide13"
      tabindex="0"
      class="slide"
      style="background-image: url('/apf_13.png')"
    >
      <div class="snapper"></div>
      <a href="#apflora-slide12" class="carousel__prev move-apflora">voriges</a>
      <a href="#apflora-slide1" class="carousel__next move-apflora">erstes</a>
      <div class="carousel-title">Kontrollen planen</div>
    </li>
  </ol>
  <aside class="navigation">
    <ol class="navigation-list">
      <li class="navigation-item">
        <a href="#apflora-slide1" class="navigation-button move-apflora">Zu Bild 1</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide2" class="navigation-button move-apflora">Zu Bild 2</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide3" class="navigation-button move-apflora">Zu Bild 3</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide4" class="navigation-button move-apflora">Zu Bild 4</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide5" class="navigation-button move-apflora">Zu Bild 5</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide6" class="navigation-button move-apflora">Zu Bild 6</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide7" class="navigation-button move-apflora">Zu Bild 7</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide8" class="navigation-button move-apflora">Zu Bild 8</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide9" class="navigation-button move-apflora">Zu Bild 9</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide10" class="navigation-button move-apflora">Zu Bild 10</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide11" class="navigation-button move-apflora">Zu Bild 11</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide12" class="navigation-button move-apflora">Zu Bild 12</a>
      </li>
      <li class="navigation-item">
        <a href="#apflora-slide13" class="navigation-button move-apflora">Zu Bild 13</a>
      </li>
    </ol>
  </aside>
</section>

<script>
  // prevent the carousel from jumping to the top on click
  // https://markus.oberlehner.net/blog/super-simple-progressively-enhanced-carousel-with-css-scroll-snap/
  const els = document.querySelectorAll('.move-apflora')
  els.forEach((el) => {
    el.addEventListener('click', (event) => {
      const $slide = document.querySelector(event.target?.getAttribute('href'))
      if (!$slide) return

      if ($slide.scrollIntoViewIfNeeded) {
        event.preventDefault()
        $slide.scrollIntoViewIfNeeded()
      } else if ($slide.scrollIntoView) {
        event.preventDefault()
        $slide.scrollIntoView()
      }
    })
  })
</script>