---
import 'swiper/css'
import 'swiper/css/navigation'
import './stylesSwiper.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url('/ai_01_hauptmenu.webp')"
    >
      Hauptmenü
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ai_02_indikatoren.webp')"
    >
      Indikatoren erfassen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ai_03_aufgaben.webp')"
    >
      Aufgaben erfassen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ai_04_projekte.webp')"
    >
      Projekte erfassen
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ai_05_drucken.webp')"
    >
      Indikatoren nach Organisationseinheit auflisten
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/ai_06_administration.webp')"
    >
      ...und mehr
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>

<style>
  .swiper {
    width: 930px;
    height: 552px;
  }
  .swiper-slide {
    line-height: 1040px;
  }
</style>
