---
import './styles.css'
---

<section class="carousel" aria-label="Gallerie">
  <ol class="carousel__viewport">
    <li
      id="indikatoren-slide1"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_01_hauptmenu.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide4" class="carousel__prev move-indikatoren"
        >letztes</a
      >
      <a href="#indikatoren-slide2" class="carousel__next move-indikatoren"
        >nächstes</a
      >
      <div class="carousel-title">Hauptmenü</div>
    </li>
    <li
      id="indikatoren-slide2"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_02_indikatoren.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide1" class="carousel__prev move-indikatoren"
        >voriges</a
      >
      <a href="#indikatoren-slide3" class="carousel__next move-indikatoren"
        >nächstes</a
      >
      <div class="carousel-title">Indikatoren erfassen</div>
    </li>
    <li
      id="indikatoren-slide3"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_03_aufgaben.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide2" class="carousel__prev move-indikatoren"
        >voriges</a
      >
      <a href="#indikatoren-slide4" class="carousel__next move-indikatoren"
        >nächstes</a
      >
      <div class="carousel-title">Aufgaben erfassen</div>
    </li>
    <li
      id="indikatoren-slide4"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_04_projekte.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide3" class="carousel__prev move-indikatoren"
        >voriges</a
      >
      <a href="#indikatoren-slide5" class="carousel__next move-indikatoren"
        >nächstes</a
      >
      <div class="carousel-title">Projekte erfassen</div>
    </li>
    <li
      id="indikatoren-slide5"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_05_drucken.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide4" class="carousel__prev move-indikatoren"
        >voriges</a
      >
      <a href="#indikatoren-slide6" class="carousel__next move-indikatoren"
        >nächstes</a
      >
      <div class="carousel-title">
        Indikatoren nach Organisationseinheit auflisten
      </div>
    </li>
    <li
      id="indikatoren-slide6"
      tabindex="0"
      class="slide"
      style="background-image: url('/ai_06_administration.png')"
    >
      <div class="snapper"></div>
      <a href="#indikatoren-slide5" class="carousel__prev move-indikatoren"
        >voriges</a
      >
      <a href="#indikatoren-slide1" class="carousel__next move-indikatoren"
        >erstes</a
      >
      <div class="carousel-title">...und mehr</div>
    </li>
  </ol>
  <aside class="navigation">
    <ol class="navigation-list">
      <li class="navigation-item">
        <a href="#indikatoren-slide1" class="navigation-button move-indikatoren"
          >Zu Bild 1</a
        >
      </li>
      <li class="navigation-item">
        <a href="#indikatoren-slide2" class="navigation-button move-indikatoren"
          >Zu Bild 2</a
        >
      </li>
      <li class="navigation-item">
        <a href="#indikatoren-slide3" class="navigation-button move-indikatoren"
          >Zu Bild 3</a
        >
      </li>
      <li class="navigation-item">
        <a href="#indikatoren-slide4" class="navigation-button move-indikatoren"
          >Zu Bild 4</a
        >
      </li>
      <li class="navigation-item">
        <a href="#indikatoren-slide5" class="navigation-button move-indikatoren"
          >Zu Bild 5</a
        >
      </li>
      <li class="navigation-item">
        <a href="#indikatoren-slide6" class="navigation-button move-indikatoren"
          >Zu Bild 6</a
        >
      </li>
    </ol>
  </aside>
</section>

<script>
  const onClick = (event) => {
    const $slide = document.querySelector(event.target?.getAttribute('href'))
    if (!$slide) return

    if ($slide.scrollIntoViewIfNeeded) {
      event.preventDefault()
      $slide.scrollIntoViewIfNeeded()
    } else if ($slide.scrollIntoView) {
      event.preventDefault()
      $slide.scrollIntoView()
    }
  }
  // prevent the carousel from jumping to the top on click
  // https://markus.oberlehner.net/blog/super-simple-progressively-enhanced-carousel-with-css-scroll-snap/
  const els = document.querySelectorAll('.move-indikatoren')
  els.forEach((el) => {
    el.addEventListener('click', onClick)
  })
  addEventListener('visibilitychange', () => {
    if (document.visibilityState === 'visible') return
    els.forEach((el) => {
      el.removeEventListener('click', onClick)
    })
  })
</script>
