---
import './styles.css'
---

<section class="carousel" aria-label="Gallerie">
  <ol class="carousel__viewport">
    <li
      id="kapla-slide1"
      tabindex="0"
      class="slide"
      style="background-image: url('/kapla_liste.png')"
    >
      <div class="snapper"></div>
      <a href="#kapla-slide4" class="carousel__prev move-kapla">letztes</a>
      <a href="#kapla-slide2" class="carousel__next move-kapla">nächstes</a>
      <div class="carousel-title">Geschäfte auflisten</div>
    </li>
    <li
      id="kapla-slide2"
      tabindex="0"
      class="slide"
      style="background-image: url('/kapla_filtern.png')"
    >
      <div class="snapper"></div>
      <a href="#kapla-slide1" class="carousel__prev move-kapla">voriges</a>
      <a href="#kapla-slide3" class="carousel__next move-kapla">nächstes</a>
      <div class="carousel-title">Geschäfte filtern und sortieren</div>
    </li>
    <li
      id="kapla-slide3"
      tabindex="0"
      class="slide"
      style="background-image: url('/kapla_bearb.png')"
    >
      <div class="snapper"></div>
      <a href="#kapla-slide2" class="carousel__prev move-kapla">voriges</a>
      <a href="#kapla-slide4" class="carousel__next move-kapla">nächstes</a>
      <div class="carousel-title">Geschäfte bearbeiten</div>
    </li>
    <li
      id="kapla-slide4"
      tabindex="0"
      class="slide"
      style="background-image: url('/kapla_berichte.png')"
    >
      <div class="snapper"></div>
      <a href="#kapla-slide3" class="carousel__prev move-kapla">voriges</a>
      <a href="#kapla-slide5" class="carousel__next move-kapla">nächstes</a>
      <div class="carousel-title">Geschäfte drucken</div>
    </li>
    <li
      id="kapla-slide5"
      tabindex="0"
      class="slide"
      style="background-image: url('/kapla_export.png')"
    >
      <div class="snapper"></div>
      <a href="#kapla-slide4" class="carousel__prev move-kapla">voriges</a>
      <a href="#kapla-slide1" class="carousel__next move-kapla">erstes</a>
      <div class="carousel-title">Geschäfte exportieren</div>
    </li>
  </ol>
  <aside class="navigation">
    <ol class="navigation-list">
      <li class="navigation-item">
        <a href="#kapla-slide1" class="navigation-button move-kapla"
          >Zu Bild 1</a
        >
      </li>
      <li class="navigation-item">
        <a href="#kapla-slide2" class="navigation-button move-kapla"
          >Zu Bild 2</a
        >
      </li>
      <li class="navigation-item">
        <a href="#kapla-slide3" class="navigation-button move-kapla"
          >Zu Bild 3</a
        >
      </li>
      <li class="navigation-item">
        <a href="#kapla-slide4" class="navigation-button move-kapla"
          >Zu Bild 4</a
        >
      </li>
      <li class="navigation-item">
        <a href="#kapla-slide5" class="navigation-button move-kapla"
          >Zu Bild 5</a
        >
      </li>
    </ol>
  </aside>
</section>

<script>
  const onClick = (event) => {
    const $slide = document.querySelector(event.target?.getAttribute('href'))
    if (!$slide) return

    if ($slide.scrollIntoViewIfNeeded) {
      event.preventDefault()
      $slide.scrollIntoViewIfNeeded()
    } else if ($slide.scrollIntoView) {
      event.preventDefault()
      $slide.scrollIntoView()
    }
  }
  // prevent the carousel from jumping to the top on click
  // https://markus.oberlehner.net/blog/super-simple-progressively-enhanced-carousel-with-css-scroll-snap/
  const els = document.querySelectorAll('.move-kapla')
  els.forEach((el) => {
    el.addEventListener('click', onClick)
  })
  addEventListener('beforeunload', () => {
    els.forEach((el) => {
      el.removeEventListener('click', onClick)
    })
  })
</script>
