---
import 'swiper/css'
import 'swiper/css/navigation'
import './styles.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url('/kapla_liste.webp')"
    >
      Geschäfte auflisten
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/kapla_filtern.webp')"
    >
      Geschäfte filtern und sortieren
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/kapla_bearb.webp')"
    >
      Geschäfte bearbeiten
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/kapla_berichte.webp')"
    >
      Geschäfte drucken
    </div>
    <div
      class="swiper-slide"
      style="background-image: url('/kapla_export.webp')"
    >
      Geschäfte exportieren
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>

<style>
  .swiper {
    width: 930px;
    height: 530px;
  }
  .swiper-slide {
    line-height: 990px;
  }
</style>
