---
import 'swiper/css'
import 'swiper/css/navigation'
import './styles.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('/mm_01.webp')">
      Home
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_02.webp')">
      Ereignisse und Statistiken
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_03.webp')">
      Kommentare
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_04.webp')">
      Kommentar
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_05.webp')">
      Neues Ereignis erstellen
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_06.webp')">
      Ereignis bearbeiten
    </div>
    <div class="swiper-slide" style="background-image: url('/mm_07.webp')">
      Kommentar bearbeiten
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>
