.swiper {
  width: 930px;
  height: 453px;
}

.swiper-slide {
  line-height: 843px;
  font-size: 18px;
  background-size: cover;
  text-align: center;
  vertical-align: bottom;
  text-shadow:
    black 0 0 0.6rem,
    black 0 0 0.2rem;
  color: #fff;
  font-size: 1.4em;
  font-weight: bold;
}
.swiper-button {
  color: #145f00 !important;
  z-index: 10;
}
.swiper-pagination {
  top: -20px;
  position: relative;
  z-index: 100;
  text-align: center;

  text-shadow:
    black 0 0 0.6rem,
    black 0 0 0.2rem;
  color: #fff;
}
