---
import 'swiper/css'
import 'swiper/css/navigation'
import './styles.css'
---

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" style="background-image: url('/vm_01.webp')">
      Home
    </div>
    <div class="swiper-slide" style="background-image: url('/vm_02.webp')">
      Alle Objekte - Desktop
    </div>
    <div class="swiper-slide" style="background-image: url('/vm_03.webp')">
      Alle Objekte - mobile
    </div>
    <div class="swiper-slide" style="background-image: url('/vm_04.webp')">
      Art - Desktop
    </div>
    <div class="swiper-slide" style="background-image: url('/vm_05.webp')">
      Art - mobile
    </div>
    <div class="swiper-slide" style="background-image: url('/vm_06.webp')">
      Garten - Felder wählen
    </div>
  </div>
  <div class="swiper-button swiper-button-next"></div>
  <div class="swiper-button swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

<script>
  import Swiper from 'swiper/bundle'
  const swiper = new Swiper('.swiper', {
    pagination: {
      el: '.swiper-pagination',
      type: 'fraction',
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    autoplay: {
      delay: 3500,
      disableOnInteraction: true,
    },
  })
</script>

<style>
  .swiper {
    width: 930px;
    height: 801px;
  }
  .swiper-slide {
    line-height: 1543px;
  }
</style>
