---
import 'bootstrap/dist/css/bootstrap.min.css'
---

<!DOCTYPE html>
<html lang="de-CH">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="description" content="Software entwickeln" />
    <meta name="keywords" content="Software, Entwicklung, Naturschutz" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#145f00" />
    <meta name="background-color" content="#145f00" />
    <meta name="msapplication-TileColor" content="#145f00" />
    <title>Gabriel Software</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
